<body class = "bg">	
	<!-- 2 Panel Style. Left is Title, classifications and right is description-->
	<div class = "allWrap">
		<div class = "row">
			<div class ="bigTitle">AutoComis</div>
		</div>
		<div class = "row">
			<div class ="subBigTitle">A human touch for automobile commandeers</div>
		</div>
		<div class = "row">
			<!-- Description section -->
			<div class = "col-md-6">
				<div class = "descriptionContainer">
					<div class = "row">
						<div class="descSubtitle">What it is</div>
						<div class="descElab">
							<p>
								AutoComis is a driver to driver communication system using the MeU Square mounted to cars and the Thalmic Myo. The driver, wearing the Myo, can make gestures to control what gets displayed onto the LED Array, which is mounted to the front and back of the car. 
							</p>
							<p>
								An open hand raised above the head would flash a "Sorry!" text element on the MeU to drivers behind you as an apology for cutting them off. Waving outwards flashes a "Go ahead" to the front of the car to give the right of way. A shaking fist would send the MeU an angry face as the graphic equivalent of "Not cool bro."
							</p>
						</div>
						<div class="descSubtitle">Motivation</div>
						<div class="descElab">
							At the moment, drivers appear as lifeless machines with a foot pressing on the pedals strategically; however, on the inside, they are human, just like the rest of us. We found that a part of the reason behind their robotic aura is due to the lack of the ability to communicate beyond turn signals and a blaring horn. By mounting a MeU square to the front and back of the car, a new dimension of communication can be opened up thanks to the new ability to convey feelings through text and images. 
						</div>
						<div class="descSubtitle">Source Code</div>
						<div class="descElab">
							You can check out the source code <a href="https://github.com/Bazhunga/AutoComisPC">here</a>!<br>
						</div>
					</div>
				</div>
			</div>
			<!-- Title, brief, photo section -->
			<div class = "col-md-6">
				<div class = "mediaContainer">
					<div id="carousel-example-generic" class="carousel slide" data-ride="false" data-interval="false">
					  	<!-- Indicators -->
					  	<ol class="carousel-indicators">
					    	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  </ol>

					  	<!-- Wrapper for slides -->
					  	<div class="carousel-inner" role="listbox">
					    	<div class="item active">
				      			<%= image_tag("Heatmap.JPG", :alt => "HeatMap", :class => "carouImage") %>
					      		<div class="carousel-caption">
						        	Heatmapping the skating rink
					      		</div>
					    	</div>
					    	<div class="item">
					      		<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "carouImage") %>
					      		<div class="carousel-caption">
						        
					      		</div>	
					    	</div>
					    	
						</div>

					  	<!-- Controls -->
					  	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    	<span class="sr-only">Previous</span>
					  	</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    	<span class="sr-only">Next</span>
						</a>
					</div>
					<!-- <div class = "row"> -->
						<!-- <div class ="carouselContainer"> -->
							
						<!-- </div> -->
					<!-- </div> -->
				</div>
			</div>
			<div class = "col-md-6">
				<div class = "bulletContainer">
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("when_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<%=image_tag("n36.png", :alt => "Sportshack14 logo", :class => "event_banner")%>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("materials_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<p>Laptop, MeU Square, Thalmic Myo/p>
								<p>Lua, Arduino, Processing</p>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("teammates_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<ul class = "team_members">
									<li class = "team_members">Kevin Zhu</li>
									<li class = "team_members">Ken Liao</li>
									<li class = "team_members">Zoe Song</li>
									<li class = "team_members">Wenyi Yin</li>
									<li class = "team_members">Max Wei</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
