<body class = "bg">	
	<!-- 2 Panel Style. Left is Title, classifications and right is description-->
	<div class = "allWrap">
		<div class = "row">
			<div class ="bigTitle">smsNOW</div>
		</div>
		<div class = "row">
			<div class ="subBigTitle">Answering your questions at a command line pace. No data needed.</div>
		</div>
		<div class = "row">
			<!-- Description section -->
			<div class = "col-md-6">
				<div class = "descriptionContainer">
					<div class = "row">
						<div class="descSubtitle">What it is</div>
						<div class="descElab">
							<p>
								smsNOW is a text-based companion application designed to accompany travelers to answer their important questions wherever there is a cell phone signal; no data is required. 
							</p>
							<p>
								Text the number requesting the weather forecast, directions, nearby attractions and even the price of an item you're eyeing and get responses snappily. 						
							</p>
						</div>

						<div class="descSubtitle">Motivation</div>
						<div class="descElab">
							<p>
								Whenever I set foot in another country, the first message I receive is a greeting from my carrier and a mind-boggling number representing the price per MB of data I use ($7 in the U.S!). If I desperately need to check key travel information, I need to sift through MBs of Google results to finally get what I need.
							</p>
							<p>
								With this application, you can get exactly the information you need at a small fraction of the price. 
							</p>
						</div>
						<div class="descSubtitle">Source Code</div>
						<div class="descElab">
							You can check out the source code <a href="https://github.com/marcokstephen/yhack-smsnow">here</a>!<br>
						</div>
					</div>
				</div>
			</div>
			<!-- Title, brief, photo section -->
			<div class = "col-md-6">
				<div class = "row">
					<div class = "mediaContainer">
						<div id="carousel-example-generic" class="carousel slide" data-ride="false" data-interval="false">
						  	<!-- Indicators -->
						  	<ol class="carousel-indicators">
						    	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  </ol>

						  	<!-- Wrapper for slides -->
						  	<div class="carousel-inner" role="listbox">
						    	<div class="item active">
					      			<%= image_tag("smsnow.png", :alt => "HeatMap", :class => "carouImage") %>
						    	</div>
						    	<div class="item">
						      		<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "carouImage") %>
						    	</div>
						    	
							</div>

						  	<!-- Controls -->
						  	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    	<span class="sr-only">Previous</span>
						  	</a>
							<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    	<span class="sr-only">Next</span>
							</a>
						</div>
						<!-- <div class = "row"> -->
							<!-- <div class ="carouselContainer"> -->
								
							<!-- </div> -->
						<!-- </div> -->
					</div>
				</div>
				<div class = "row">
					<div class = "bulletContainer">
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("when_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<p> YHACK 2014</p>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("materials_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<ul class = "team_members">
										<li class = "team_members">Yahoo Weather API</li>
										<li class = "team_members">Google Maps API</li>
										<li class = "team_members">Viacom Comedy Central API</li>
										<li class = "team_members">Semantics3 API</li>
										<li class = "team_members">Google Translate API</li>
										<li class = "team_members">Priceline API</li>
										
								</ul>
								<p>Google App Engine, Python</p>
							</div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-3 text-center left_img">
							<div class = "ci_cont">
								<%=image_tag("teammates_icon.png", :alt => "placeholder", :class => "circle_icon")%>
							</div>
						</div>
						<div class = "col-md-9 right_descrip">
							<div class ="iconBriefContainer">
								<ul class = "team_members">
										<li class = "team_members">Kevin Zhu</li>
										<li class = "team_members">Rafael Melo</li>
										<li class = "team_members">Felipe Santos</li>
										<li class = "team_members">Higor Ernandez</li>
										<li class = "team_members">Nelson Nauata</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
