<div class = "centerpiece_project">
	<h1>Projects</h1>
	<h2>Software</h2>
	<div class = "container">
		<table class = "table_softwareimg" style="width:30%; align: left">
			<tr>
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
			</tr>
			<tr>
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
			</tr>
		</table>
	</div>
	<h2>Hardware</h2>
	<div class = "container">
		<table class = "table_softwareimg" style="width:30%; align: left">
			<tr>
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
			</tr>
		</table>
	</div>
	<h2>Photography</h2>
	<div class = "container">
		<table class = "table_softwareimg" style="width:30%; align: left">
			<tr>
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
			</tr>
		</table>
	</div>


	<!-- Hovering over images causes side pane to become visible -->
</div>