<body class="bg">
	<div class = "row proj_vert_cell centerpiece_project">

		<div class="col-lg-4">
			<h2 class = "proj">Software</h2>
			<div class = "proj_pic_wrapper">
				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("Heatmap.JPG", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/Spur"%>
						
							<figcaption>
								<p class = "panel_h1">Spur Heat Mapping</p>
								<%= image_tag("comp_android_icon_bevel.png", :alt => "placeholder", :class => "paneltile")%>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("hackathought_icon.png", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/Allegro"%>
							<figcaption>
								<p class = "panel_h1">ThoughtSpot Allegro</p>
								<%= image_tag("comp_android_icon_bevel.png", :alt => "placeholder", :class => "paneltile")%>
							</figcaption>
						</figure>
					</div>
				</div>
				
				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("smsnow_icon.png", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/smsNOW"%>
							<figcaption>
								<p class = "panel_h1">smsNOW</p>
								<%= image_tag("comp_android_icon_bevel.png", :alt => "placeholder", :class => "paneltile")%>
							</figcaption>
						</figure>
					</div>
				</div>

				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("myocont.jpg", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/myoWASD"%> 
							<figcaption>
								<p class = "panel_h1">myoWASD</p>
								<!--<%= image_tag("comp_android_icon_bevel.png", :alt => "placeholder", :class => "paneltile")%>-->
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<h2 class = "proj">Hardware</h2>
			<div class = "proj_pic_wrapper">
				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("autocomis.png", :alt => "AutoComis", :class => "projecttile")}".html_safe, "projects/AutoComis"%>
							<figcaption>
								<p class = "panel_h1">AutoComis</p>
								<%= image_tag("comp_android_icon_bevel.png", :alt => "placeholder", :class => "paneltile")%>
							</figcaption>
						</figure>
					</div>
					 
				</div>
				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("Lestr_Wide.jpg", :alt => "LesTR the Light Testing Robot", :class => "projecttile")}".html_safe, "projects/LesTR"%>
							<figcaption>
								<p class = "panel_h1">LesTR the light testing robot</p>
								<p class = "panel_h2">Jan - May 2014</p>
							
							</figcaption>
						</figure>
					</div>
					
				</div>
			</div>

		</div>

		<div class="col-lg-4">
			<h2 class = "proj">(Photo||Video)graphy</h2>
				<div class = "proj_pic_wrapper">
				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("cat_and_mouse.JPG", :alt => "A game of Cat and Mouse", :class => "projecttile")}".html_safe, "projects/a_game_of_cat_and_mouse"%>
							<%= %> 
							<figcaption>
								<p class = "panel_h1">Engineering Science Dinner Dance Video</p>
								<p class = "panel_h2">Sept - Oct 2014</p>
							</figcaption>
						</figure>
					</div>
					
				</div>
				<div class = "row proj_vert_cell_img">
					<div class = "tile">
						<figure>
							<%= link_to "#{image_tag("ems.png", :alt => "Emami Harmony", :class => "projecttile")}".html_safe, "projects/emamiHarmony"%>
							<figcaption>
								<p class = "panel_h1">Engineering Science jokemercial</p>
								
							</figcaption>
						</figure>
					</div>
					
				</div>
			</div>
		</div>
	</div>		
	
	<div class = "empty"></div>


</body>

<!-- EXAMPLE MODALS -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>