<div id="backgradient">
	<div class = "centerpiece_project">
		<h1>Projects</h1>
		<h2>Software</h2>
		<!-- <div class = "container">
			<table class = "table_softwareimg" style="width:30%; align: left">
				<tr>
					<td><%= image_tag("Heatmap.JPG", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("hackathought_icon.png", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("smsnow_icon.png", :alt => "placeholder", :class => "projecttile")%> </td> 
				</tr>
				<tr>
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				</tr>
			</table>
		</div>
		<h2>Hardware</h2>
		<div class = "container">
			<table class = "table_softwareimg" style="width:30%; align: left">
				<tr>
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				</tr>
			</table>
		</div>
		<h2>Photography</h2>
		<div class = "container">
			<table class = "table_softwareimg" style="width:30%; align: left">
				<tr>
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
					<td><%= image_tag("placeholder.jpg", :alt => "placeholder", :class => "projecttile")%> </td> 
				</tr>
			</table>
		</div> -->

		<div class = "container">
			<div class = "row">
				<div class="col-md-4"><%= image_tag("Heatmap.JPG", :alt => "placeholder", :class => "projecttile")%> </div>
				<div class="col-md-4"><%= image_tag("hackathought_icon.png", :alt => "placeholder", :class => "projecttile")%></div>
				<div class="col-md-4"><%= image_tag("smsnow_icon.png", :alt => "placeholder", :class => "projecttile")%></div>
			</div>
			<div class = "row">
				<div class="col-md-4"><%= image_tag("myocont.jpg", :alt => "placeholder", :class => "projecttile")%> </div>
			</div>
		</div>
		<h2>Hardware</h2>
		<div class = "container">
			<div class = "row">
				<div class="col-md-4"><%= image_tag("myomeu.jpg", :alt => "placeholder", :class => "projecttile")%> </div>
				<div class="col-md-4"><%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%></div>
				<div class="col-md-4"><%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%></div>
			</div>
		</div>
		<h2>Photography</h2>
		<div class = "container">
			<div class = "row">
				<div class="col-md-4"><%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%> </div>
				<div class="col-md-4"><%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%></div>
				<div class="col-md-4"><%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%></div>
			</div>
		</div>

		<div class = "empty"></div>

		<!-- Hovering over images causes side pane to become visible -->
	</div>
</div>