<body class="bg">
	<div class = "row proj_vert_cell centerpiece_project">

		<div class="col-lg-4">
			<h2 class = "proj">Software</h2>
			<div class = "proj_pic_wrapper">
				<div class = "figure">
					<div class = "row proj_vert_cell_img">
						<%= link_to "#{image_tag("Heatmap.JPG", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/Spur"%>
					</div>
					<figcaption>
						<h3>Spur Heatmapping</h3>
						<span>Hardware/Software</span>
					</figcaption>
				</div>
				<div class = "row proj_vert_cell_img">
					<%= link_to "#{image_tag("hackathought_icon.png", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/Allegro"%>
				</div>
				
				<div class = "row proj_vert_cell_img">
					<%= link_to "#{image_tag("smsnow_icon.png", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/smsNOW"%>
				</div>

				<div class = "row proj_vert_cell_img">
					<%= link_to "#{image_tag("myocont.jpg", :alt => "placeholder", :class => "projecttile")}".html_safe, "projects/myoWASD"%> 
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<h2 class = "proj">Hardware</h2>
			<div class = "proj_pic_wrapper">
				<div class = "row proj_vert_cell_img">
					<%= link_to "#{image_tag("myomeu.jpg", :alt => "AutoComis", :class => "projecttile")}".html_safe, "projects/AutoComis"%> 
				</div>
				<div class = "row proj_vert_cell_img">
					<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%>
				</div>
			</div>

		</div>

		<div class="col-lg-4">
			<h2 class = "proj">(Photo||Video)graphy</h2>
				<div class = "proj_pic_wrapper">
				<div class = "row proj_vert_cell_img">
					<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%> 
				</div>
				<div class = "row proj_vert_cell_img">
					<%= image_tag("placeholder2.jpg", :alt => "placeholder", :class => "projecttile")%>
				</div>
			</div>
		</div>
	</div>		
	
	<div class = "empty"></div>


</body>

<!-- EXAMPLE MODALS -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>