<!DOCTYPE html>
<!-- THIS IS CALLED FOR EVERY SINGLE PAGE OF THE APP -->
<html>
<head>
  <title>PersonalWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kevin Zhu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class =<%= @nav_status[0]%>><%= link_to "About Me", root_path%></li> <!--took out class="active"-->
        <li class="dropdown">
        	<!-- span class caret creates the down arrow thing -->
          <a href="/projects" class="dropdown-toggle" role="button" aria-expanded="false">Projects <span class="caret"> </span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Software", projectsSoftware_path%></li>
            <li class="divider"></li>
            <li><%= link_to "Hardware", projectsHardware_path%></li>
            <li class="divider"></li>
            <li><%= link_to "Photography", projectsPhotos_path%></li>
          </ul>
        </li>
        <li class =<%= @nav_status[2]%>><%= link_to "Github", github_path%></li>
        <li class =<%= @nav_status[3]%>><%= link_to "LinkedIn", linkedIn_path%></li>
        <li class =<%= @nav_status[4]%>><%= link_to "Resume", resume_path%></li>
        <li class =<%= @nav_status[5]%>><%= link_to "Contact", contact_path%></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- <nav class="navbar navbar-default" role="nagivation">
	<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> </a>
    </div>
		
		
		
	</div>
	
</nav> -->

<%= yield %>

</html>
