<!DOCTYPE html>
<!-- THIS IS CALLED FOR EVERY SINGLE PAGE OF THE APP -->

<html>
<%= favicon_link_tag 'favicon.ico' %>
<head>
  <title>Zhudocode</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
</head>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kevin Zhu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class =<%= @nav_status[0]%>><%= link_to "About Me", root_path%></li> <!--took out class="active"-->
        <li class =<%= @nav_status[1]%>><%= link_to "Projects", projects_path%></li>
        <li class =<%= @nav_status[2]%>><%= link_to "Github", "https://github.com/Bazhunga"%></li> <!--Was github_path-->
        <li class =<%= @nav_status[3]%>><%= link_to "LinkedIn", "https://ca.linkedin.com/pub/kevin-zhu/89/164/676/"%></li> <!--Was linkedIn_path-->
        <li class =<%= @nav_status[4]%>><%= link_to "Resume", "https://drive.google.com/open?id=0B8SUi0awoGmSS0NrOHM2N0lJeXM&authuser=0"%></li> <!--Was resume_path-->
        <li class =<%= @nav_status[5]%>><%= link_to "Contact", contact_path%></li> <!--Was contact_path-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- <nav class="navbar navbar-default" role="nagivation">
	<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> </a>
    </div>
		
		
		
	</div>
	
</nav> -->

<%= yield %>

<!-- <footer class="footer">

    <div class="constructionBanner">
        <p class="text-muted">

            This website is still undergoing construction! Forgive the wordiness/layout oddities/incomplete descriptions! 

        </p>
    </div>
  
</footer> -->
</html>
